Repository bradleyfrank/ansible: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, ansible-lint

shellcheck:
  name: Lint Bash scripts
  language: system
  entry: shellcheck

ansible-lint:
  name: Lint Ansible
  language: system
  entry: ansible-lint

Enable Docker BuildKit.
  roles/dotfiles/templates/zshrc.j2
Due: none

Re-order functions; slim down 'mux'.
  roles/dotfiles/templates/zshrc.j2
Due: none

Create worktree function to supplement 'git worktree'.
  roles/dotfiles/templates/zshrc.j2
Due: none

Renamed Zoom cask.
  roles/packages/vars/MacOSX.yml
Due: ansible-lint

Disable color output on pre-commit.
  roles/dotfiles/templates/zshrc.j2
Due: none

App for blocking email trackers on Mail.app.
  roles/packages/vars/MacOSX.yml
Due: ansible-lint

Add helpful comment.
  roles/dotfiles/templates/zshrc.j2
Due: none

Make ignoring binary files default for grep.
  roles/dotfiles/templates/zshrc.j2
Due: none

Re-enable 'Open Editors' pane.
  roles/dotfiles/files/vscode/User/settings.json
Due: none

Package cleanup.
  roles/packages/vars/MacOSX.yml
  roles/packages/vars/main.yml
Due: ansible-lint

Try disabling pre-commit color output.
  .pre-commit-config.yaml
Due: ansible-lint

Revert "Try disabling pre-commit color output."
  .pre-commit-config.yaml
Due: ansible-lint

Totally ignore .vscode directories.
  roles/dotfiles/files/git/.gitignore
Due: none

Don't bother with krew install.
  roles/dotfiles/tasks/kubectl.yml
Due: ansible-lint

Minor tweaks.
  run.sh
Due: shellcheck

Package updates.
  roles/packages/vars/MacOSX.yml
  roles/packages/vars/main.yml
Due: ansible-lint

Make colorcolumn better visable.
  roles/dotfiles/files/vim/.vimrc
Due: none

Increase contrast in pane borders.
  roles/dotfiles/templates/tmux.conf.j2
Due: none

Convert ansible.builtin FQCN.
  .ansible-lint
  .gitignore
  .pre-commit-config.yaml
  roles/dotfiles/tasks/cli.yml
  roles/dotfiles/tasks/fonts.yml
  roles/dotfiles/tasks/git.yml
  roles/dotfiles/tasks/homedir.yml
  roles/dotfiles/tasks/kubectl.yml
  roles/dotfiles/tasks/main.yml
  roles/dotfiles/tasks/media.yml
  roles/dotfiles/tasks/shell.yml
  roles/dotfiles/tasks/ssh.yml
  roles/dotfiles/tasks/vim.yml
  roles/packages/tasks/Fedora.yml
  roles/packages/tasks/MacOSX.yml
  roles/packages/tasks/Pop!_OS.yml
  roles/packages/tasks/Ubuntu.yml
  roles/packages/tasks/main.yml
  roles/repositories/tasks/Fedora.yml
  roles/repositories/tasks/Pop!_OS.yml
  roles/repositories/tasks/Ubuntu.yml
  roles/repositories/tasks/main.yml
  roles/system/tasks/Darwin.yml
  roles/system/tasks/Linux.yml
Due: ansible-lint

Convert steep to function to check xcode install.
  roles/dotfiles/templates/zshrc.j2
Due: none

Update for Latanya.
  roles/dotfiles/files/ssh/.ssh/config
Due: none

New function to import ssh config with Ansible vault.
  roles/dotfiles/templates/zshrc.j2
Due: none

Updated Latanya host bump.buzz.
  roles/dotfiles/files/ssh/.ssh/config
Due: none

Fix repo name.
  README.md
Due: none

Change default behavior to bootstrap playbook.
  README.md
  run.sh
Due: shellcheck

Use python3 by default.
  ansible.cfg
Due: none

Remove invalid parameter.
  roles/packages/tasks/Fedora.yml
Due: ansible-lint

Make kubectl install dependent on variable rather than test.
  playbooks/bootstrap.yml
  playbooks/dotfiles.yml
  roles/dotfiles/tasks/kubectl.yml
  roles/dotfiles/tasks/main.yml
Due: ansible-lint

Just install kubectl no matter what.
  playbooks/bootstrap.yml
  playbooks/dotfiles.yml
  roles/dotfiles/tasks/main.yml
Due: ansible-lint

More updates to use FQCN.
  playbooks/bootstrap.yml
  playbooks/dotfiles.yml
  roles/dotfiles/tasks/kubectl.yml
  roles/dotfiles/tasks/main.yml
  roles/dotfiles/tasks/shell.yml
  roles/packages/tasks/Fedora.yml
  roles/packages/tasks/MacOSX.yml
  roles/packages/tasks/Pop!_OS.yml
  roles/packages/tasks/Ubuntu.yml
  roles/packages/tasks/main.yml
  roles/repositories/tasks/main.yml
  roles/system/tasks/Darwin.yml
  roles/system/tasks/Linux.yml
Due: ansible-lint

Install Ansible via Python.
  run.sh
Due: shellcheck

Skip Spotify client.
  roles/packages/vars/Pop!_OS.yml
  roles/packages/vars/Ubuntu.yml
  roles/packages/vars/main.yml
Due: ansible-lint

Fix gcreds fzf.
  roles/dotfiles/files/shell/.local/share/gcloud/gcsh
Due: none

Script to branch Git repos in new tmux windows.
  roles/dotfiles/files/scripts/branch
Due: none

Fix tab naming issue.
  roles/dotfiles/files/scripts/branch
Due: none

Add a Git segment to show repo name.
  roles/dotfiles/templates/zshrc.j2
Due: none

Use --git-common-dir instead of --show-toplevel b/c worktrees.
  roles/dotfiles/templates/zshrc.j2
Due: none

Aliases and functions for Python virtualenvs.
  roles/dotfiles/templates/zshrc.j2
Due: none

Global ignore for .cache directory.
  roles/dotfiles/files/git/.gitignore
Due: none

Path conditions:
  shellcheck: any of: \.(bash|sh)$
  ansible-lint: any of: \.(yaml|yml)$
